* {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-family: sans-serif;
  text-transform: capitalize;
}

body {
  height: 100vh;
  background: linear-gradient(rgba(2, 146, 117, 0.85), rgba(0, 0, 0, 0.85));
}

.header {
  height: 5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.logo {
  width: 70%;
  padding: 10px;
  display: flex;
  justify-content: start;
  background-color: transparent;
}

.category {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.searchbar {
  height: 60vh;
  display: flex;
  justify-content: center;
  line-height: 15rem;
}

form #searchbar {
  height: 4rem;
  width: 20rem;
  border-radius: 0% 20% 0% 20%;
  border: 0.2px solid transparent;
  box-shadow: 1px 0px 5px white;
}
 
form i {
  padding-left: 0.5rem;
}

.iconsContainer {
  display: flex;
  justify-content: center;
}

.icons {
  width: 20rem;
  display: flex;
  justify-content: space-around;
}

.footer {
  height: 20vh;
  display: flex;
  justify-content: end;
  align-items: end;
}

.footer p {
  font-size: small;
}

.icons i:hover {
  transform: scale(1.5);
  transition: transform ease-in-out 0.2s;
}

.category a:hover {
  height: 3em;
  border-radius: 30em;
  border: 2px solid rgba(0, 0, 0, 0.573)
}

.anchor {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(169, 149, 19);
  /* box-shadow: 6px 6px 12px #c5c5c5,
           -6px -6px 12px #ffffff; */
}

.anchor::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.anchor:hover::before {
  width: 9em;
}

.anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}